{% extends "base.html" %}
{% block title %}Panel Biznesowy{% endblock %}
{% block content %}
<div class="card">
  <h1>Panel Biznesowy</h1>
  <p>Zalogowany jako: {{ current_user.username }} ({{ current_user.role }})</p>
  <a href="{{ url_for('logout') }}">Wyloguj</a>
  <h2>Projekty</h2>
  <ul>
    {% for project in projects %}
      <li>
        <a href="{{ url_for('business_project_detail', project_id=project.id) }}">{{ project.name }}</a>
        – Stan: {{ project.state }}
        – Zlecony przez: {{ project.owner.username if project.owner else 'Brak właściciela' }}
      </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('upload') }}">Dodaj nowy projekt</a>
  <br><br>
  <!-- Link umożliwiający aktualizację własnej ceny za ml -->
  <a href="{{ url_for('business_update_price') }}">Aktualizuj Moja Cenę za ml</a>
</div>
{% endblock %}
