{% extends "base.html" %}
{% block title %}Szczegóły Projektu (Klient){% endblock %}
{% block content %}
<div class="card">
  <h1>Projekt: {{ project.name }}</h1>
  <table>
    <tr hidden>
      <th>ID projektu</th>
      <td>{{ project.id }}</td>
    </tr>
    <tr>
      <th>Objętość</th>
      <td>{{ project.volume_ml|round(2) }} ml</td>
    </tr>
    <tr>
      <th>Wstępna wycena</th>
      <td>{{ project.estimated_cost|round(2) }} PLN</td>
    </tr>
    {% if project.final_cost %}
    <tr>
      <th>Cena ostateczna</th>
      <td>{{ project.final_cost|round(2) }} PLN</td>
    </tr>
    {% endif %}
    <tr>
      <th>Stan</th>
      <td>{{ project.state }}</td>
    </tr>
    <tr>
      <th>Zlecony przez</th>
      <td>{{ project.owner.username if project.owner else 'Brak właściciela' }}</td>
    </tr>
    <tr>
      <th>Ilość sztuk</th>
      <td>{{ project.quantity }}</td>
    </tr>
    <tr>
      <th>Komentarz do zamówienia</th>
      <td>{{ project.order_comment if project.order_comment else 'Brak komentarza' }}</td>
    </tr>
  </table>
  
  <h3>Pliki:</h3>
  <ul>
    {% for file in files %}
      <li><a href="{{ url_for('download', project_id=project.id, file_id=file.id) }}">{{ file.filename }}</a></li>
    {% endfor %}
  </ul>
  
  <h3>Historia zmian stanu:</h3>
  <ul>
    {% for log in logs %}
      <li>{{ log.timestamp }}: {{ log.old_state }} → {{ log.new_state }} (przez {{ log.changed_by }})</li>
    {% endfor %}
  </ul>
  <form action="{{ url_for('client_complete_project', project_id=project.id) }}" method="post">
    <button type="submit">Oznacz jako zakończony przez klienta</button>
</form>

<form action="{{ url_for('delete_project', project_id=project.id) }}" method="post">
    <button type="submit">Usuń projekt</button>
</form>
  
  <a href="{{ url_for('client_dashboard') }}">Powrót do panelu</a>
</div>
{% endblock %}
